In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('adult.csv')

In [22]:
df = df.sample(n=1000,random_state=32)

In [23]:
len(df)

1000

In [24]:
df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
41545,53,Private,142717,Bachelors,13,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
45056,32,Private,426467,1st-4th,2,Never-married,Craft-repair,Not-in-family,White,Male,3674,0,40,Guatemala,<=50K
35625,25,Self-emp-not-inc,72338,HS-grad,9,Never-married,Sales,Unmarried,Asian-Pac-Islander,Female,0,0,40,United-States,<=50K
38261,48,Private,135525,Assoc-acdm,12,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
19232,48,Private,125933,Some-college,10,Widowed,Exec-managerial,Unmarried,Black,Female,0,1669,38,United-States,<=50K

In [25]:
df['workclass'].value_counts()

workclass
Private             677
Self-emp-not-inc     92
Local-gov            78
?                    42
State-gov            40
Self-emp-inc         39
Federal-gov          31
Never-worked          1
Name: count, dtype: int64

In [26]:
df['education'].value_counts()

education
HS-grad         319
Some-college    233
Bachelors       191
Masters          49
Assoc-acdm       35
Assoc-voc        30
11th             30
10th             28
7th-8th          21
12th             15
Prof-school      15
5th-6th          10
Doctorate         9
9th               8
1st-4th           5
Preschool         2
Name: count, dtype: int64

In [27]:
df['marital-status'].value_counts()

marital-status
Married-civ-spouse       470
Never-married            342
Divorced                 125
Widowed                   31
Separated                 23
Married-spouse-absent      8
Married-AF-spouse          1
Name: count, dtype: int64

In [28]:
df['race'].value_counts()

race
White                 843
Black                 109
Asian-Pac-Islander     29
Amer-Indian-Eskimo     10
Other                   9
Name: count, dtype: int64

In [29]:
df['native-country'].value_counts()

native-country
United-States                 911
Mexico                         16
?                              16
Japan                           5
Guatemala                       5
England                         4
Puerto-Rico                     4
Columbia                        3
Jamaica                         3
Germany                         3
Thailand                        3
Philippines                     3
India                           2
Greece                          2
Peru                            2
South                           2
Haiti                           2
Canada                          2
China                           2
Cambodia                        1
Ireland                         1
Outlying-US(Guam-USVI-etc)      1
Portugal                        1
El-Salvador                     1
Poland                          1
Laos                            1
Dominican-Republic              1
Italy                           1
Iran                            1
Name: count, dtype: int64

In [30]:
X=df.iloc[:,0:-1]
y=df['income']

In [31]:
y.value_counts()

income
<=50K    773
>50K     227
Name: count, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

In [33]:
type(X_train)

pandas.core.frame.DataFrame

In [34]:
from sklearn.preprocessing import StandardScaler
sts = StandardScaler()

In [35]:
from sklearn.preprocessing import OneHotEncoder

In [40]:
ohe = OneHotEncoder()

X_train = ohe.fit_transform(X_train.toarray())
X_test = ohe.transform(X_test)

d:\pytorch\.venv\Lib\site-packages\sklearn\utils\validation.py:2742: UserWarning: X has feature names, but OneHotEncoder was fitted without feature names
  warnings.warn(

ValueError: X has 14 features, but OneHotEncoder is expecting 1860 features as input.